{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

<div class="container">
    <<div class="row">
            <hr width="50%" color="white">
    </div>
    {% for compteur in compteurs %}
    {{ macros.entete(compteur['updated'], 'Tableau de bord', '') }}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <p class="h5">par Support</p>
            <canvas id="supportChart" width="350" height="300"></canvas>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
                <p class="h5">par Genre</p>
            <canvas id="categorieChart" width="350" height="300"></canvas>
        </div>
    </div>
    <div class="row">
        <hr width="50%" color="white">  
    </div>
    <script src="{{serverURL}}/static/js/Chart.bundle.min.js"></script>

    <script>
        var tout = "{{compteur['total']}}";
        var cd = "{{compteur['CD']}}";
        var dvd = "{{compteur['DVD']}}";
        var vinyl = "{{compteur['Vinyl']}}";
        var apple = "{{compteur['APPLE']}}";

        // Define a plugin to provide data labels
		Chart.plugins.register({
			afterDatasetsDraw: function(chart) {
				var ctx = chart.ctx;

				chart.data.datasets.forEach(function(dataset, i) {
					var meta = chart.getDatasetMeta(i);
					if (!meta.hidden) {
						meta.data.forEach(function(element, index) {
							// Draw the text in black, with the specified font
							ctx.fillStyle = 'rgb(0, 0, 0)';

							var fontSize = 12;
							var fontStyle = 'bold';
                            var fontFamily = 'Helvetica Neue';
                            var fontColor = 'rgb(54, 162, 235)';
							ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

							// Just naively convert to string for now
							var dataString = dataset.data[index].toString();

							// Make sure alignment settings are correct
							ctx.textAlign = 'center';
							ctx.textBaseline = 'middle';

							var padding = 5;
							var position = element.tooltipPosition();
							ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
						});
					}
				});
			}
		});

        var chartDatas = {
            labels: ["Tout","Vinyl", "CD", "DVD", "Apple Music"],
            datasets: [
                {
                    data: [tout, vinyl, cd, dvd, apple],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1,
                    label: 'nombre par support'
                }
            ]
        };

        var chartOptions = {
            showTooltips: true,
            onAnimationComplete: function () {
                var ctx = this.chart.ctx;
                ctx.font = this.scale.font;
                ctx.fillStyle = this.scale.textColor
                ctx.textAlign = "center";
                ctx.textBaseline = "bottom";

                this.datasets.forEach(function (dataset) {
                    dataset.bars.forEach(function (bar) {
                        ctx.fillText(bar.value, bar.x, bar.y - 5);
                    });
                })
            },
            onClick: supportClickEvent
        };
        
        var ctx = document.getElementById("supportChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartDatas,
            options: chartOptions
        });

    function supportClickEvent(evt, array){
        if(array[0]){ 
            var index = array[0]._index;
             switch(index) {
                case(0):
                    document.location.href='{{serverURL}}/list/';
                    break;
            
                case(1):
                    document.location.href='{{serverURL}}/Vinyl/';
                    break;
            
                case(2):
                    document.location.href='{{serverURL}}/CD/';
                    break;
            
                case(3):
                    document.location.href='{{serverURL}}/DVD/';
                    break;
            
                case(4):
                    document.location.href='{{serverURL}}/APPLE/';
                    break;                                    
            
                default:
                    document.location.href='{{serverURL}}/';
            }
        }       
    }

    </script>
    
    <script>
        var blues = "{{compteur['Blues']}}";
        var electronic= "{{compteur['Electronic']}}";
        var folk = "{{compteur['Folk World Country']}}";
        var funk = "{{compteur['Funk Soul']}}";
        var hip = "{{compteur['Hip Hop']}}";
        var jazz = "{{compteur['Jazz']}}";
        var latin = "{{compteur['Latin']}}";
        var pop = "{{compteur['Pop']}}";
        var reggae = "{{compteur['Reggae']}}";
        var rock = "{{compteur['Rock']}}";
    

        var categorieDatas = {
            labels: ["Blues","Electro", "Folk/World", "Funk/Soul", "Hip Hop", "Jazz", "Latin", "Pop", "Reggae", "Rocks"],
            datasets: [
                {
                    data: [blues,electronic, folk, funk, hip, jazz, latin, pop, reggae, rock],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',    
                        'rgba(255,99,132,1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(201, 203, 207, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'],
                    borderWidth: 1,
                    label: 'nombre par support'
                }]
            };

        var categorieOptions = {
            showTooltips: true,
            onAnimationComplete: function () {
                var ctx = this.chart.ctx;
                ctx.font = this.scale.font;
                ctx.fillStyle = this.scale.textColor
                ctx.textAlign = "center";
                ctx.textBaseline = "bottom";

                this.datasets.forEach(function (dataset) {
                    dataset.bars.forEach(function (bar) {
                        ctx.fillText(bar.value, bar.x, bar.y - 5);
                    });
                })
            },
            onClick: categorieClickEvent
        };
        
        var ctx = document.getElementById("categorieChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: categorieDatas,
            options: categorieOptions
        });

    function categorieClickEvent(evt, array){
        if(array[0]){ 
            var index = array[0]._index;
            switch(index) {
                case(0):
                    document.location.href='{{serverURL}}/categorie/Blues/';
                    break;
            
                case(1):
                    document.location.href='{{serverURL}}/categorie/Electronic/';
                    break;
            
                case(2):
                    document.location.href='{{serverURL}}/categorie/Folk, World, & Country/';
                    break;
            
                case(3):
                    document.location.href='{{serverURL}}/categorie/Funk Soul/';
                    break;
            
                case(4):
                    document.location.href='{{serverURL}}/categorie/Hip Hop/';
                    break;
                    
                case(5):
                    document.location.href='{{serverURL}}/categorie/Jazz/';
                    break;
            
                case(6):
                    document.location.href='{{serverURL}}/categorie/Latin/';
                    break;
            
                case(7):
                    document.location.href='{{serverURL}}/categorie/Pop/';
                    break;
            
                case(8):
                    document.location.href='{{serverURL}}/categorie/Reggae/';
                    break;
            
                case(9):
                    document.location.href='{{serverURL}}/categorie/Rock/';
                    break 
            
                default:
                    document.location.href='{{serverURL}}/';
            }
        }       
    }
  </script>  
  
   {% endfor %}

  <div class="row">
        <p class="h5"><br />par Artiste</p>
    </div>
    {% for index in range(1, 3) %}
    <div class="row text-center">
        {% set index = (loop.index0 * 6) + 1 %}
        {% for colonne in range(0, 6) %}
            {% set index = index + colonne %}
            <div class="col-6 col-md-6 col-lg-2">
                <a class="h6 nav-link blue-text bold" href="{{serverURL}}/artist/{{compteursArtists[index].get('artistName')}}">{{compteursArtists[index].get('artistName')}}</a>
                {% if compteursArtists[index].get('release') == 1 %}
                    <p class="h6">{{compteursArtists[index].get('release')}} album</p>
                {% else %}
                    <p class="h6">{{compteursArtists[index].get('release')}} albums</p>
                {% endif %}
                {% if compteursArtists[index].get('vinyl') > 0 %}
                    <p>Vinyl({{compteursArtists[index].get('vinyl')}})
                {% endif %}
                {% if compteursArtists[index].get('cd') > 0 %}
                   -- CD({{compteursArtists[index].get('cd')}})</p>
                {% endif %}
                {% if compteursArtists[index].get('dvd') > 0 %}
                    <p>DVD({{compteursArtists[index].get('dvd')}})
                {% endif %}
                {% if compteursArtists[index].get('demat') > 0 %}
                   -- DEM({{compteursArtists[index].get('demat')}})</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    
    <div class="row">
        <p class="h5"><br />Dernières Entrées</p>
    </div>
    
    {% for index in range(0, 2) %}
    <div class="row text-center">
        {% set index = loop.index0 * 6 %}
        {% for colonne in range(0, 6) %}
            {% set index = index + colonne %}
            <div class="col-12 col-md-4 col-lg-2">
            <a class="nav-link" href="{{serverURL}}/album/{{lastAlbums[index].get('id')}}">
            <img src="{{lastAlbums[index].get('thumb')}}" class="img-fluid z-depth-2" alt="image"></a>
            <p class="h6">{{lastAlbums[index].get('title')}}
            <a class="h6 nav-link blue-text bold" href="{{serverURL}}/artist/{{lastAlbums[index].get('artistName')}}">{{lastAlbums[index].get('artistName')}}</a>
            <p>{{lastAlbums[index].get('formatName')}} </p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}
